<!-- login.html.erb -->

<h1>User Login</h1>

<%= form_for(@user, url: login_path, method: 'post') do |f| %>

	<!-- email, password-->
	<div>
		<%= f.label :email, "Your Email:"%> 
		<%= f.text_field :email %>
	</div>

	<div>
		<%= f.label :password, "Your Password:"%> 
		<%= f.password_field :password %>
		
	</div>
	<div>
		<%= f.submit  "Login"%>
	</div>

<% end %>


