<!-- sign_up.html.erb -->


<h1>User Sign Up</h1>

<%=	form_for(@user, url: '/sign_up', method: 'post') do |f| %>

	<!-- show error hint -->
	<% if @user.errors.any? %>
		<ul>
			<% @user.errors.full_messages.each do |message| %>
			<li> <%= message %></li>
			<% end %>	
		</ul>
	<% end %>

	<!-- email, password, password_confirm form -->
	<div>
		<%= f.label :email, "Your Email:"%> 
		<%= f.text_field :email %>
	</div>
	<div>
		 
		<%= f.label :password, "Your Password:"%> 
		<%= f.password_field :password %>
		
	</div>
	<div>
		 
		<%= f.label :password_confirm, "Password Confirm:"%> 
		<%= f.password_field :password_confirm %>
	</div>
	
	<div>
		<%= f.submit  "Sign Up"%>
	</div>
	
<% end %>
