<!-- sign_up.html.erb -->


<h1>User Sign Up</h1>

<%=	form_for(User.new, url: '/sign_up', method: 'post') do |f| %>

	<div>
		<%= f.label :email, "Your Email:"%> 
		<%= f.text_field :email %>
	</div>
	<div>
		 
		<%= f.label :password, "Your Password:"%> 
		<%= f.password_field :password %>
		
	</div>
	<div>
		 
		<%= f.label :password_confirm, "Password Confirm:"%> 
		<%= f.password_field :password_confirm %>
	</div>
	
	<div>
		<%= f.submit  "Sign Up"%>
	</div>
	
<% end %>
