
<!DOCTYPE html>

<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:go2login] %>
      <%= session[:go2login] %> |
      <%= link_to "logout",logout_path, method: 'delete' %>
    <% else %>
      <a href="/sign_up"> sign up</a>
      <p style="display: inline"> | </p>
      <a href="/login"> login </a>
    <% end %>

    <%= yield %>
  </body>
</html>
